html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: #E0E0E0;
    font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#wrapper{	width:1000px; margin: 0px auto; background-color:#FFFFFF;
			border-top-left-radius: 10px; border-top-right-radius: 10px; }
/*Top*/
#top{	width:100%; height:200px; margin-top:10px; position:relative; }
#logo img{	width:170px; height:170px; margin: 15px; float:left; }
#socialMedia{	position: absolute; right:0; }
#socialMedia p{	text-align:right; margin: 0 0 5px 0; }
#socialMedia img{	width:25px; height:25px; padding: 10px 10px 0px 0px; bottom:200px; right:10px; }
#title h1{	font-size:50px; position:absolute; bottom:70px; right:10px; }
#telNumber h1{	font-size:30px; color:#FF6600; position:absolute; bottom:10px; right:10px; }

/*Navigation Bar*/
#topnav{	background-color:aqua; clear:both; height:46px;}
#topnav a:link		{ color:#FFFFFF; }
#topnav a:visited	{ color:#FFFFFF; }
#topnav a:active	{ color:#FFFFFF; }
#topnav a:hover		{ color:#FFFFFF; background-color:#FF6600; }
#topnav a:focus		{ color:#FFFFFF; }
#topnav ul {
	list-style-type: none;
    width:100%;
    float:left;
    margin:0px;
    background-color:#333333;
    border-bottom:3px #FF6600 solid;
}
#topnav ul li{	display:inline; }
#topnav ul li a{	font-size:20px; float:left; padding:10px 15px; text-decoration: none; }

/*Startseite*/
#indexcontent{	width:100%; height:auto; display:block; }
#bannerArea{	width:100%; height:425px; display:block; }
#bannerArea h2{	margin-left:5%; margin-bottom:5px; font-size:20px; }
#bannerArea a.link{	display:block; margin:5% 0 0 5%; font-size:14px; }
#bannerArea a.link:link{	color:#FF6000; }
#bannerArea a.link:visited{	color:#FF6000; }
#bannerArea p{	margin:0 5%; font-size:14px; }
<<<<<<< HEAD
#bannerArea img{	width:90%; height:auto; margin:5% auto; display:block; }
#versicherung{	border-bottom:3px #FF6000 solid; background-color:#EEEEEE; height:350px; width:30%; float:left; margin:10px 1.25% 0 2.5%;}
#finanzierung{	border-bottom:3px #FF6000 solid; background-color:#EEEEEE; height:350px; width:30%; float:left; margin:10px 1.25% 0 1.25%;}
#vorsorge{		border-bottom:3px #FF6000 solid; background-color:#EEEEEE; height:350px; width:30%; float:left; margin:10px 2.5% 0 1.25%;}
=======
#versicherung{	border-bottom:3px #FF6000 solid; background-color:#EEEEEE; height:375px; width:30%; float:left; margin:10px 1.25% 0 2.5%;}
#finanzierung{	border-bottom:3px #FF6000 solid; background-color:#EEEEEE; height:375px; width:30%; float:left; margin:10px 1.25% 0 1.25%;}
#vorsorge{		border-bottom:3px #FF6000 solid; background-color:#EEEEEE; height:375px; width:30%; float:left; margin:10px 2.5% 0 1.25%;}
>>>>>>> origin/master
#mainArea{		width:100%; height:400px; clear:both; display:block; margin-top:10px;}
#mainArea h1{	text-align:center; font-size:30px; font-weight:bold;}
#mainArea img{	width:500px; display:block; margin: 10px auto;}
/*Team*/
#membercontent{	width:100%; height:auto; /*background-color:blue;*/}
#member1,#member2,#member3,#member4,#member5{	width:70%; height:200px; padding:10px 0 10px 50px; /*background-color:aqua;*/ margin:10px;}
#membercontent img{	float:left; display:block; width:200px; height:200px;border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
#membercontent h1{	display:block;font-size:22px; font-weight:bold; display:block; margin:0 0 10px 220px;}
#membercontent h2{	display:block;font-size:18px; font-weight:bold; display:block; margin:0 0 10px 220px;}
#membercontent p{	display:block;font-size:14px; display:block; margin:0 0 5px 220px;}
#membercontent .end{	clear:both; }
/*EndTeam*/

/*Footer*/
#footer{	width:100%; height:25px; background-color:#EEEEEE;}
#footer p{	text-align:center; }


